server	asev.l3s.uni-hannover.de
user	dba
password	dba
master_graph	http://data.duraark.eu/master_graph
working_graph	dummy_versioning
endpoint	http://asev.l3s.uni-hannover.de:8859/sparql
mysql_user	fetahu
mysql_password	besnik_FETAHU
mysql_database	ld_dataset_crawler
mysql_server	db.l3s.uni-hannover.de